.locations__container {
    width: 100%;
    margin: 70px auto 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.movieNameHeader {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: rgba(50, 225, 255, 0.308);
    border-radius: 50%;
}

.movieNameHeader h2 {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}


.locations__title {
    text-decoration: none;
    font-size: 35px;
    margin-top: 45px;
    margin-bottom: 0;
    color: #fff;
    text-shadow:
    0 0 7px #000000,
    0 0 10px #ffbb4f,
    0 0 21px #ffbb4f,
    0 0 30px #ffbb4f,
    0 0 25px #ffbb4f,
    0 0 20px #ffbb4f,
    0 0 15px #ffbb4f,
    0 0 11px #ffbb4f;
    text-align: center;
    transform: translate(0, 50%)

}

.locations__container .box {
    position:relative;
    width: 380px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow:
    0 0 10px 1px #fff,
    0 0 10px 2px rgb(255, 31, 255),
    0 0 25px 3px rgb(25, 255, 255);

}

.imgBox {
    position: relative;
    overflow: hidden;
}

.box .imgBox img {
    max-width: 100%;
    height: 300px;
}

.outerBox {
    margin-bottom: 50px;
    margin-right: 10px;
}

.box:hover .imgBox img {
    /* transform: scale(1.2); */
    transition: 1.5s;
    transform: scaleY(1);

}

.box .details {
    position:absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 225, 255, 0.308);
    transform: scaleY(0);
    transition: .5s;
    border-radius: 45%;
}

.box:hover .details {
    transform: scaleY(1);
}

.content {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
}

.content a {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
}

.content h3 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(255, 255, 255);
}

/* .content h3 {
    text-shadow: -1px 1px 2px rgb(255, 238, 0),
				  1px 1px 2px rgb(233, 0, 0),
				  1px -1px 0 rgb(207, 4, 4),
				  -1px -1px 0 rgb(177, 1, 1);
} */

.backtoTop{
    bottom: 0;
    color: rgb(253, 37, 224);
    padding-bottom: 50px;
    padding-right: 20px;
    font-size: 20px;
    text-decoration: none;
    float: right;
}

.backtoTop:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(255, 255, 255),
				  1px 1px 15px rgb(0, 206, 233),
				  1px -1px 25px rgb(4, 92, 207),
				  1px -1px 5px rgb(1, 19, 177);
}
