.review__div1 {

}

.reviewForm__div textarea{
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid rgb(0, 255, 213);
    padding: 15px;
    width: 500px;
    height: 85px;
    margin-bottom: 10px;
    font-size: 15px;
    outline: none;
    background-color: rgb(133, 227, 255);
    resize: none;
}

.reviewForm__div button {
    font-family: 'IBM Plex Mono', monospace;
    width: 10em;
    background-color: rgb(60, 0, 255);
    color: rgb(209, 255, 6);
    /* font-weight: 600; */
    border: 2px solid rgb(0, 238, 255);
    padding: 3px;
    border-radius: 15px;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.reviewForm__div button:hover {
    box-shadow: 0px 0px 10px rgb(106, 243, 255);
    transition: 0.5s;
    cursor: pointer;
}
