body {
    margin:0;
    padding:0;
    height: 100%;
    /* font-family: 'IBM Plex Mono', monospace; */
    /* font-family: 'Cute Font', cursive; */
}
/* font-family: 'Cute Font', cursive;  time circuit font
font-family: 'IBM Plex Mono', monospace; WORDS*/
