.profilePic {
    height: 300px;
    width: 300px;
}

.reservation__div {
    color: white;
}

.userProfile__info{
    color: white;
}

.resPic {
    height: 200px;
    width: 300px;
}

.reservation__pic {
    height: 200px;
}
